{%extends "base.html" %}
{%block title%}
  Home Page
{%endblock%}

{%block contant%}
  
<div class="container">
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1>Kittu's Website</h1>
        <p>A trusted jobs application platform is a digital service that connects job seekers with potential employers while prioritizing security, credibility, and transparency in the job search process. These platforms typically verify job listings and employers to ensure the legitimacy of opportunities, fostering a safe and reliable environment for job seekers to explore career opportunities.</p>
        <a href="{{ url_for('loginpage')}}" class="btn btn-primary btn-lg">Get Started</a>
    </div>
</div>

  
{%endblock%}